h1 {
    text-aling:center;
    background:rgb(10, 151, 97);
}
h1 {
    font-size: 35px;
}
#img {
    text-aling:center;
    width:50%;
    height:200px;
}

p {
    font-size: 20px;
   text-align:justify;
}
